NODE_ENV=development
PORT=3000
MONGODB_URI=
FRONTEND_URL=http://localhost:3000
BINANCE_REST_URL=https://api.binance.com
BINANCE_WS_URL=wss://stream.binance.com:9443
PREDICTION_MODEL_VERSION=indicator-v1
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_WS_URL=ws://localhost:3000/ws
